Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.19
Werkzeug==0.9.4
distribute
gunicorn==18.0
itsdangerous==0.23
redis==2.9.1
wsgiref==0.1.2

# for fabric
Fabric==1.8.3
ecdsa==0.11
paramiko==1.12.3
pycrypto==2.6.1
